{% extends 'base.html.twig' %}

{% block title %}Profil : {{user.username}} {% endblock %}

{% block body %}
    <h1>Profil de {{user.username}}</h1>

    {# Affichage du nom d'utilisateur, avec modification possible (formulaire) #}
    <p>Id : {{user.id}}</p>
    <p>Nom d'utilisateur : {{user.username}}</p>
    <p>Modifier le nom d'utilisateur : <a href="{{path('app_profil_edit', {'id': user.id})}}">Modifier</a></p>

    

{% endblock %}