<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ titrePage }} - TP Symfony{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/images/pdp.jpg') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}{% include '_header.html.twig' %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% include '_footer.html.twig' %}{% endblock %}
        {% block scripts %}
            <script src="{{ asset('assets/js/custom.js') }}"></script>
        {% endblock %}
    </body>
</html>
